<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add User</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Add New User</h1>

<!-- Сообщение об ошибке -->
<p th:if="${error}" th:text="${error}" style="color: red;"></p>

<form th:action="@{/user-control/add}" method="post">
    <label for="id">User ID:</label>
    <input type="number" id="id" name="id" th:value="${user.id}" required>
    <br>

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:value="${user.name}" required>
    <br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" th:value="${user.email}" required>
    <br>

    <label for="status">Status:</label>
    <select id="status" name="status" required>
        <option th:each="status : ${statuses}" th:value="${status}" th:text="${status}"></option>
    </select>
    <br>

    <button type="submit">Add User</button>
</form>
</body>
</html>
